django==1.8.1
elasticsearch>=2.0.0,<3.0.0
elasticsearch-dsl>=2.0.0,<3.0.0
django_allauth
django_bootstrap3
django_bootstrap_form
django-jsonify
django_compressor
django_templatetag_handlebars
pymongo
