{% extends "dashboard/base.html" %}
{% load jsonify %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Network Activities</h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right"
                             style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>August 27, 2016 - September 25, 2016</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div style="width: 100%;">
                        <div id="canvas_dahs" style="width: 100%; height:270px;"></div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <h3>Latest Requests</h3>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>IP</th>
                            <th>URI</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in current_data %}
                            {% if d.clientip %}
                                <tr>
                                    <td>{{ d.clientip }}</td>
                                    <td>{{ d.request }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <h3>Threads</h3>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>IP</th>
                            <th>URI</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in threads %}
                            {% if d.clientip %}
                                <tr class="danger">
                                    <td>{{ d.clientip }}</td>
                                    <td>{{ d.request }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_js %}
    <!-- bootstrap-daterangepicker -->
    <script>
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });

        });
    </script>
    <!-- /bootstrap-daterangepicker -->


    <!-- Flot -->
    <script>
        $(function () {
            function update_real() {
                $.ajax({
                    url: "/ajax/latest_data",
                    success: function (resp) {
                        var data = [];
                        for (var i = 0; i < resp.request_histogram.length; i++) {
                            data.push([new Date(resp.request_histogram[i][0]), resp.request_histogram[i][1]]);
                        }
                        $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                            data
                        ], {
                            series: {
                                lines: {
                                    show: true,
                                    fill: true
                                },
                                points: {
                                    radius: 0,
                                    show: true
                                },
                                shadowSize: 0
                            },
                            grid: {
                                verticalLines: true,
                                hoverable: true,
                                clickable: true,
                                tickColor: "#d5d5d5",
                                borderWidth: 1,
                                color: '#fff'
                            },
                            colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                            xaxis: {
                                tickColor: "rgba(51, 51, 51, 0.06)",
                                mode: "time",
                                tickSize: [5, "min"],
                                axisLabel: "Time",
                                axisLabelUseCanvas: true,
                                axisLabelFontSizePixels: 12,
                                axisLabelFontFamily: 'Verdana, Arial',
                                axisLabelPadding: 10
                            },
                            yaxis: {
                                ticks: 8,
                                tickColor: "rgba(51, 51, 51, 0.06)",
                            },
                            clickable: true, hoverable: true,
                            tooltip: true
                        });
                    },
                }).done(function () {
                    setTimeout(function () {
                        update_real();
                    }, 500);
                });
            }

            update_real();
        });
    </script>
    <!-- /Flot -->
{% endblock %}