{% extends "dashboard/base.html" %}
{% load bootstrap3 i18n %}
{% block content %}
    <style>

        .node circle {
            fill: #fff;
            stroke: red;
            stroke-width: 1.5px;
        }

        .node {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }

    </style>

    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ page_name }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href="{% url 'virtual_fix_list' %}" class="back-link"><i class="fa fa-chevron-left"></i> Back</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <h3>Suspicious Threats</h3>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" style="overflow: auto">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>IP</th>
                        <th>URI</th>
                        <th>Referer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in threads %}
                        {% if d.clientip %}
                            <tr class="danger">
                                <td>{{ d.clientip }}</td>
                                <td>{{ d.request }}</td>
                                <td>{{ d.referrer }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script>

        var diameter = 960;

        var tree = d3.layout.tree()
                .size([360, diameter / 2 - 120])
                .separation(function (a, b) {
                    return (a.parent == b.parent ? 1 : 2) / a.depth;
                });

        var diagonal = d3.svg.diagonal.radial()
                .projection(function (d) {
                    return [d.y, d.x / 180 * Math.PI];
                });

        var svg = d3.select(".x_content").append("svg")
                .attr("width", diameter)
                .attr("height", diameter - 150)
                .append("g")
                .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

        d3.json("/ajax/thread_tree", function (error, root) {
            if (error) throw error;

            var nodes = tree.nodes(root),
                    links = tree.links(nodes);

            var link = svg.selectAll(".link")
                    .data(links)
                    .enter().append("path")
                    .attr("class", "link")
                    .attr("d", diagonal);

            var node = svg.selectAll(".node")
                    .data(nodes)
                    .enter().append("g")
                    .attr("class", "node")
                    .attr("transform", function (d) {
                        return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")";
                    });

            node.append("circle")
                    .attr("r", 4.5);

            node.append("text")
                    .attr("dy", ".31em")
                    .attr("text-anchor", function (d) {
                        return d.x < 180 ? "start" : "end";
                    })
                    .attr("transform", function (d) {
                        return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)";
                    })
                    .text(function (d) {
                        return d.name;
                    });
        });

        d3.select(self.frameElement).style("height", diameter - 150 + "px");

    </script>

{% endblock %}